// bx slider
//
//BxSlider v4.1.2 - Fully loaded, responsive content slider
//http://bxslider.com
//
//Written by: Steven Wanderski, 2014
//http://stevenwanderski.com
//(while drinking Belgian ales and listening to jazz)
//
//CEO and founder of bxCreative, LTD
//http://bxcreative.com
//

$time: .25s;
.easeinout {
	-webkit-transition: all $time ease-in-out;
	-moz-transition: all $time ease-in-out;
	-ms-transition: all $time ease-in-out;
	-o-transition: all $time ease-in-out;
	transition: all $time ease-in-out;
}

.bx-wrapper {
	position: relative;
	margin: 0 auto;
	padding: 0;
	*zoom: 1;

	img {
		max-width: 100%;
		display: block;
	}

	.bx-viewport {
		/*fix other elements on the page moving (on Chrome)*/
		-webkit-transform: translatez(0);
		-moz-transform: translatez(0);
	 	-ms-transform: translatez(0);
	 	-o-transform: translatez(0);
	 	transform: translatez(0);

		ul {
			li {
				text-align: center;

				img {
					display: inline-block;
				}

				.img-text {
					display: block;
					position: absolute;
					left: 100%;
					top: 10px;
					width: 400px;
					text-align: left;
					padding: 15px;

					.title, .caption {
						display: block;
					}

					.title {
						font-weight: 700;
					}
				}
			}
		}
	}

	.bx-pager,
	.bx-controls-auto {
		position: absolute;
		bottom: 20px;
		width: 100%;
	}

	.bx-loading {
		min-height: 50px;
		// need to change path below
		background: url(/wp-content/themes/cw/img/bx_loader.gif) center center no-repeat #fff;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2000;
	}

	.bx-pager {
		text-align: center;
		font-size: .85em;
		font-family: Arial;
		font-weight: bold;
		color: #666;
		padding-top: 20px;
	}

	.bx-pager .bx-pager-item,
	.bx-controls-auto .bx-controls-auto-item {
		display: inline-block;
		*zoom: 1;
		*display: inline;
	}

	.bx-pager.bx-default-pager a {
		background-color: rgba(255, 255, 255, .5);
		text-indent: -9999px;
		display: block;
		width: 10px;
		height: 10px;
		margin: 0 5px;
		border: solid 1px #A0A0A0;
		outline: 0;
	}

	.bx-pager.bx-default-pager a:hover,
	.bx-pager.bx-default-pager a.active {
		background-color: rgba(85, 148, 107, 1);
	}

	/* DIRECTION CONTROLS (NEXT / PREV) */

	.bx-next, .bx-prev {
		overflow: hidden;

		&:before,
		&:after {
			position: absolute;
			display: block;
			content: '';
		}

		&:before {
			width: 0;
			height: 0;
			border-style: solid;
			top: 50%;
			margin-top: -10px;
			z-index: 2;
		}

		&:after {
			width: 40px;
			height: 100%;
			top: 0;
			background-color: rgba(0, 0, 0, .5);
			z-index: 1;
		} 

		&:hover {

		}
	}

	.bx-prev {
		left: 0;

		&:before {
			border-width: 10px 20px 10px 0;
			border-color: transparent #fff transparent transparent;
			left: -40px;
			@extend .easeinout;
		}

		&:after {
			left: -40px;
			@extend .easeinout;
		}

		&:hover {
			&:before {
				left: 10px;
				@extend .easeinout;
			}

			&:after {
				left: 0;
				@extend .easeinout;
			}
		}		
	}

	.bx-next {
		right: 0;

		&:before {
			border-width: 10px 0 10px 20px;
			border-color: transparent transparent transparent #fff;
			right: -40px;
			@extend .easeinout;
		}

		&:after {
			right: -40px;
			@extend .easeinout;
		}

		&:hover {
			&:before {
				right: 10px;
				@extend .easeinout;
			}

			&:after {
				right: 0;
				@extend .easeinout;
			}
		}
	}

	.bx-controls-direction a {
		position: absolute;
		top: 0;
		outline: 0;
		width: 50%;
		height: 100%;
		text-indent: -9999px;
		z-index: 9999;
	}

	.bx-controls-direction a.disabled {
		display: none;
	}

	/* AUTO CONTROLS (START / STOP) */

	.bx-controls-auto {
		text-align: center;
	}

	.bx-controls-auto .bx-start {
		display: block;
		text-indent: -9999px;
		width: 10px;
		height: 11px;
		outline: 0;
		// need to change path below
		background: url(/wp-content/themes/cw/img/controls.png) -86px -11px no-repeat;
		margin: 0 3px;
	}

	.bx-controls-auto .bx-start:hover,
	.bx-controls-auto .bx-start.active {
		background-position: -86px 0;
	}

	.bx-controls-auto .bx-stop {
		display: block;
		text-indent: -9999px;
		width: 9px;
		height: 11px;
		outline: 0;
		// need to change path below
		background: url(/wp-content/themes/cw/img/controls.png) -86px -44px no-repeat;
		margin: 0 3px;
	}

	.bx-controls-auto .bx-stop:hover,
	.bx-controls-auto .bx-stop.active {
		background-position: -86px -33px;
	}

	/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

	.bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
		text-align: left;
		width: 80%;
	}

	.bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
		right: 0;
		width: 35px;
	}

	/* IMAGE CAPTIONS */

	.bx-caption {
		position: absolute;
		bottom: 0;
		left: 0;
		background: #666\9;
		background: rgba(80, 80, 80, 0.75);
		width: 100%;
	}

	.bx-caption span {
		color: #fff;
		display: block;
		padding: 10px;
		@extend .smoothfont;
	}
}

#bx-pager {
	margin-bottom: 30px;

	a {
		img {
			margin: 0 5px 5px 0;
		}
	}
}
