@import "normalize.scss";
@import "foundation.scss";
@import 'bourbon';
@import "gravityforms";
@import "wordpress";
@import "bxslider";
@import "cw-custom.scss"; // This is where we can put custom mixins and classes

// variables
$linkColor: #5893b0; 
// $linkHover: lighten($linkColor, 10%);
$linkHover:#55b777;
$fontColor: #72787d;

html, body {
	margin: 0;
	padding: 0;

	font-family: 'Vollkorn', serif;
	
	background: rgb(229,229,210); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(229,229,210,1) 0%, rgba(250,250,250,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,210,1)), color-stop(100%,rgba(250,250,250,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(229,229,210,1) 0%,rgba(250,250,250,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(229,229,210,1) 0%,rgba(250,250,250,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(229,229,210,1) 0%,rgba(250,250,250,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(229,229,210,1) 0%,rgba(250,250,250,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5d2', endColorstr='#fafafa',GradientType=0 ); /* IE6-9 */

}

body {
	&.admin-bar {
		padding-top: 46px;

	}
	// color:#72787d;
	font-family: 'Vollkorn', serif;
}
.main{
	background-color:#f2f1e8;
	padding-bottom:20px;
}

pre {
	position: relative;
	padding: 24px;
	font-size: 10px;
	border: solid 1px #666;
	background-color: #fff;
	@include border-radius(20px);
	margin: 15px;

	.close-pre {
		display: block;
		position: absolute;
		top: 15px;
		right: 15px;
		width: 20px;
		height: 20px;
		border: solid 1px #666;
		@include border-radius(20px);
		cursor: pointer;

		&:before,
		&:after {
			position: absolute;
			display: block;
			content: '';
			background-color: #666;
			width: 13px;
			height: 2px;
			top: 50%;
			left: 50%;
			@include transform-origin(center center);
			@include transition(.5s);
		}

		&:before {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&:after {
			@include transform(translateY(-50%) translateX(-50%) rotate(0deg));
		}

		&.open {
			&:before {
				@include transform(translateY(-50%) translateX(-50%) rotate(90deg));
			}
			&:after {
				@include transform(translateY(-50%) translateX(-50%) rotate(180deg));
			}
		}
	}
}

//typography
.smoothfont {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Vollkorn', serif;
	margin: 0;

	&.page-title {

	}
	color:#2f5a70;
}

h1 {
	font-size: 3.75em;
	
}

h2 {
	font-size: 3em;
	
}
h3 {
	font-size: 2.25em;
	
}
h4 {
	font-size: 1.875em;
	
}
h5 {
	font-size: 1.5em;
	
}
h6 {
	font-size: 1.125em;
	
}
.h_grey{
	color:#72787d;
}

p, li  {
	font-size: .875em;
	color: $fontColor;
}

p:last-child {
	margin-bottom: 0;
}

ul {
	&.styleless {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}

a {
	color: $linkColor;
	@include transition(.25s);

	&:hover {
		color: $linkHover;
		@include transition(.25s);
	}
}

input[type="text"],
input[type="email"],
input[type="submit"],
select,
textarea {
	border: 0;
	outline: none!important;
	padding: 10px!important;
	margin: 0!important;
}

input[type="submit"] {

}

input[type="text"],
input[type="email"],
textarea {

}

input[type="text"],
input[type="email"] {

}

textarea {

}
// General CSS
.fuzzy_back
{
	background: rgba(0, 0, 0, 0.5);
}
.center{
	text-align: center;
	margin-left: auto;
    margin-right: auto;
}
.f_left{ float:left}
.f_right{ float:right}

.hr_inv{
	border: transparent;
}
.hr_white{
	border:0.08em solid white; 
	-webkit-box-shadow: 0px 1px 1px #dad9c7;
	-moz-box-shadow: 0px 1px 1px #dad9c7;
	box-shadow: 0px 1px 1px #dad9c7;
}
.hr_grey{
	border:0.08em solid #dad9c7; 
	-webkit-box-shadow: 0px 1px 1px #dad9c7;
	-moz-box-shadow: 0px 1px 1px #dad9c7;
	box-shadow: 0px 1px 1px #dad9c7;
}

//promos
.promo{
	padding-top:10px;
	padding-bottom:10px;
}

//button css
.donate_button{
	background-color:#55b276;
	// background: rgb(86,188,121); /* Old browsers */
	// background: -moz-linear-gradient(top,  rgba(86,188,121,1) 0%, rgba(85,168,114,1) 53%, rgba(85,150,108,1) 100%); /* FF3.6+ */
	// background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(86,188,121,1)), color-stop(53%,rgba(85,168,114,1)), color-stop(100%,rgba(85,150,108,1))); /* Chrome,Safari4+ */
	// background: -webkit-linear-gradient(top,  rgba(86,188,121,1) 0%,rgba(85,168,114,1) 53%,rgba(85,150,108,1) 100%); Chrome10+,Safari5.1+
	// background: -o-linear-gradient(top,  rgba(86,188,121,1) 0%,rgba(85,168,114,1) 53%,rgba(85,150,108,1) 100%); /* Opera 11.10+ */
	// background: -ms-linear-gradient(top,  rgba(86,188,121,1) 0%,rgba(85,168,114,1) 53%,rgba(85,150,108,1) 100%); /* IE10+ */
	// background: linear-gradient(to bottom,  rgba(86,188,121,1) 0%,rgba(85,168,114,1) 53%,rgba(85,150,108,1) 100%); /* W3C */
	// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#56bc79', endColorstr='#55966c',GradientType=0 ); /* IE6-9 */

	border-radius:5px;
	margin-top:15px;
	margin-bottom:15px;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	border: 1px solid #57dda0;
	font-size: 1.5em;

	box-shadow: 5px 5px 5px #c1c1c1;
}
.abuse_button{
	background-color:#545252;
	border-radius:5px;
	margin-bottom:15px;
	padding:10px;
	padding-left:15px;
	padding-right:15px;
	font-size: 1.0em;

	box-shadow: 5px 5px 5px #c1c1c1;
}


//page css
.page_title{
	//padding:5px;
}
.page_hr{
	border:1px dotted #5893b0;
	margin-top:10px;
	margin-bottom:10px;
}
//sidebar
.sidebar_inner_link{
	border-bottom:1px dotted #a7c4cf;

}
.c_stories{
	padding-top:40px;
}
// .sidebar{
// 	color:#2f5a70;
// }

//bx slider

.bx-wrapper .bx-viewport {
  background-color:#2f5a70;
  border: 15px solid white;
  -webkit-box-shadow: 0 10px 6px -6px grey;
	   -moz-box-shadow: 0 10px 6px -6px grey;
	        box-shadow: 0 10px 6px -6px grey;
}
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -25px;
  width: 100%;
}
.bx-pager.bx-default-pager a.active {
  background-color: #55946b;
}
.s_txt_padding{
	padding-top:15px;
	padding-right:20px;
	padding-bottom:20px;
	// padding-bottom:20px;
	height:50%;
}
.s_title{
	color:#FFF;
}

.slide_bottom_padding{
	padding-top:30px;
}

//footer
.footer_top{
	margin-bottom:10px;
	margin-top:20px;
	height:20px;
	background-color:#eae9db;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
}
.c_txt{
	color:#c7c7c7;
}

//header 
.top_head{
	background-color:#55946b;
	height:10px;
}
.header_address{
	padding-top:15px;
}
.address{
	text-align: right;
	// font-size:12;
	//padding-right:50px;
	//border-right:5px solid grey;
}

.top-bar .name {
  height: 45px;
  margin: 0;
  font-size: 16px;
  background: #55946b;
}

//header dropdown li
.top-bar-section .dropdown li {
  width: 100%;
  height: auto;
  background: #FFF;
}


// .test{
// 	background-color:red;
// 	color:blue;
// }

// header and nav  top:e5e5d2 fafafa
[role=banner] {
	background-color:#FFF;

	// foundation nav structure 
	.contain-to-grid {
		//border-top:1px solid #ddddce;
		
		background: rgb(229,229,210); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(229,229,210,1) 0%, rgba(229,229,210,1) 84%, rgba(234,234,219,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,229,210,1)), color-stop(84%,rgba(229,229,210,1)), color-stop(100%,rgba(234,234,219,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(229,229,210,1) 0%,rgba(229,229,210,1) 84%,rgba(234,234,219,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(229,229,210,1) 0%,rgba(229,229,210,1) 84%,rgba(234,234,219,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(229,229,210,1) 0%,rgba(229,229,210,1) 84%,rgba(234,234,219,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(229,229,210,1) 0%,rgba(229,229,210,1) 84%,rgba(234,234,219,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e5d2', endColorstr='#eaeadb',GradientType=0 ); /* IE6-9 */


		[role="navigation"] {
			//border-top:1px solid #ddddce;
			background-color:#e5e4d2;
			.title-area {

			}
			.top-bar-section {
				ul{
					//background:#3B5981;
				}
				li:not(.has-form) a:not(.button) {
				  padding: 0 15px;
				  line-height: 45px;
				  background: #e5e5d2;
				  font-size: 20px;
				  font-family: 'Vollkorn', serif;
				  color:#2f5a70;
				}
				.menu {
					.menu-item {
						&.menu-item-type-custom {
							& > a {
							}
						}
						&.current-menu-item,
						&.current-menu-parent,
						&.active {
							& > a {
								background:#f2f1e8;
								background: url(/wp-content/themes/cw/img/w_triangle.png) no-repeat top center;

								//border-top: 5px solid #f00;
							}
						}
						a {
							&:hover {
								color:#55b777;
							}
						}
						.sub-menu {
							//background:none;
							.menu-item {
								&.menu-item-type-custom {
									a {
										
									}
								}
								a {
									&:hover {
									}
								}
							}
						}
					}
				}
			}
		}
	}
}



// main content
[role="main"] {
	.home & {
	}
}

// sidebar
[role="complementary"] {

}

// footer
[role="contentinfo"] {

}
/////////////////////////////////////////////////////////////////////////////////
//media queries
//media queries
@media all and (max-width: 1026px) {
	.s_txt_padding{
		padding-top:15px;
		padding-right:20px;
		padding-bottom:20px;
		padding-left:20px;
		// padding-bottom:20px;
		height:50%;
	}
	
}
@media all and (min-width: 1001px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 21px;
		padding: 0 12px;
		line-height: 45px;
		//background: transparent;
		
	}

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:hover {
		//background: rgba(108,203,134, 0.7);
		//background: url(/wp-content/themes/cw/img/gear.png) no-repeat center;
	}
}

@media all and (max-width: 1001px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 20px;
		padding: 0 12px;
		line-height: 45px;
		//background: transparent;
		
	}

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:hover {
		//background: rgba(108,203,134, 0.7);
		//background: url(/wp-content/themes/cw/img/gear.png) no-repeat center;
	}
}

@media all and (max-width: 985px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 19px;
		padding: 0 9px;
		line-height: 45px;
		//background: transparent;
	}

	// .header_button{
	// 	padding:10px;
	// 	margin-top:40px;
	// }

	// h1 {
	// font-size: 3.50em;
	// }

	// h2 {
	// 	font-size: 2.75em;
	// }
	// h3 {
	// 	font-size: 2.0em;
	// }
	// h4 {
	// 	font-size: 1.6em;
	// }
	// h5 {
	// 	font-size: 1.3em;
	// }
	// h6 {
	// 	font-size: 1.0em;
	// }
	

}

@media all and (max-width: 895px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 17px;
		padding: 0 5px;
		line-height: 45px;
		//background: transparent;
	}

	// [role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:hover {
	// 	background: rgba(108,203,134, 0.7);
	// }
	

}

@media all and (max-width: 785px) {

	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 15px;
		padding: 0 4px;
		line-height: 45px;
		//background: transparent;
	}

	// [role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:hover {
	// 	background: rgba(108,203,134, 0.7);
	// }

	
}

@media all and (max-width: 695px) {
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 13px;
		padding: 0 5px;
		line-height: 45px;
		//background: transparent;
	}
}

@media all and (max-width: 640px) {
	
	[role=banner] .contain-to-grid [role="navigation"] .top-bar-section li:not(.has-form) a:not(.button) {
		font-size: 20px;
		padding: 0 15px;
		line-height: 45px;
		//background: transparent;
	}

	.top-bar-section ul {
		background: #fff;
	}

	.logo {
		padding-bottom:30px;
		padding-top:20px;
		a {
			display: inline-block;
		}
		text-align: center;
		margin-left: auto;
	    margin-right: auto;

	}
	
}


// misc stuff, specific stuff, global stuff
.logo {
	padding-bottom:30px;
	padding-top:20px;
	a {
		display: inline-block;
	}
}

.cw {
	display: block;
	width: 100%;
	height: 30px;
	background: right center no-repeat url(/wp-content/themes/cw/img/cw-dark.png);
	text-indent: -9999px;
}

.gf_captcha {
	display: none;
}

.cf:before,
.cf:after {
content: " "; /* 1 */
display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
 .cf {
 	*zoom: 1;
 }

@media all and (min-width: 783px) {
	body {
		&.admin-bar {
			padding-top: 32px;
		}
	}
}

 // print styles
 @media print {
 	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; }
 	a, a:visited { text-decoration: underline; }
 	a[href]:after { content: " (" attr(href) ")"; }
 	abbr[title]:after { content: " (" attr(title) ")"; }
 	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }
 	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
 	thead { display: table-header-group; }
 	tr, img { page-break-inside: avoid; }
 	img { max-width: 100% !important; }
 	@page { margin: 0.5cm; }
 	p, h2, h3 { orphans: 3; widows: 3; }
 	h2, h3 { page-break-after: avoid; }
 }